@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: GothamBlack;
  src: url(../../public/fonts/Gotham-Black.woff);
}

@font-face {
  font-family: GothamBold;
  src: url(../../public/fonts/Gotham-Bold.woff);
}

@font-face {
  font-family: GothamLight;
  src: url(../../public/fonts/Gotham-Light.woff);
}

@font-face {
  font-family: GothamMedium;
  src: url(../../public/fonts/Gotham-Medium.woff);
}

.App {
  height: calc(100vh - 112px);
  width: 100vw;
}

.map-container {
  height: 100%;
  width: 100%;
}
